@media (min-width: 315px) {

.intro {
	margin: 35% auto 4%;
}

.faq{
	margin-top: 35%;
}

.vision {
	margin: 35% 0 0 4%;
}

}

@media (min-width: 475px) {

.strategy,
.sr {
	padding: 0;

}

.mainNav li {
	padding: 1.5%;
}

.intro {
	width: 80%;
	margin: 25% auto 4%;
	text-align: left;
}

.imgWrap,
.benefits-img {
	width: 40%;
} 

.textWrap,
.network-layout {
	width: 75%;
	margin: 10% auto;
	text-align: left;

}

.benefits {
	text-align: left;
}

.benefitsList li {
	background-color: #35e3e3;
	padding: 3% 4% 15%;
}

.benefits a {
	padding: 1.5% 1.5% 2%;
}

.interestForm {
	width: 65%;
}

#submitButton {
	padding: 5% 5% 10%;
	font-size: 1.125em;
}

.faq{
	margin-top: 29%;
}

.vision {
	margin: 25% 0 0 4%;
}

.view-testimonials,
.view-ads {
	width: 45%;
	margin: 6% auto;
	padding: 2%;
}

.nav {
	width: 34%;
	padding: 2%;
}

.video-viewer1,
.video-viewer2 {
	width: 70%;
	margin: 0 auto;
}

.ads {
	width: 45%;
	margin: 1%;
	box-shadow: 0 0 25px #ccc;
	float: left;
}

h4 {
	width: 85%;
	margin: 0 auto;
	padding: 4% 4% 4% 6%;
}

.alignText {
	width: 95%;
	padding: 2% 2% 2% 6%;
	text-align: left;
}

.projectList {
	width: 95%;
	margin: 0 auto;
}

.projectList h4 {
	margin: 2.85% auto;
	padding: 4% 4% 13% 4%;
}

}

@media (min-width: 585px) {

.intro,
.strategy,
.sr,
.benefits,
.projects {
	width: 90%;
	margin: 0 auto;
}

.intro {
	margin: 22% auto 4%;
}

.faq{
	margin-top: 22%;
}

.vision {
	margin: 22% 0 0 4%;
}

.network-layout {
	width: 60%;
	margin: 0;
	padding: 1%;
}

.network-layout,
.imgWrap {
	float: left;
}

.imgWrap {
	width: 30%;
	padding: 2%;
	margin: 3% 3% 0 3%;
}

.textWrap {
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}

.headingbg {
    padding: 0;
}

#network {
	text-align: left;
}

}

@media (min-width: 745px) {

.intro {
	margin: 18% auto 4%;
}

.faq{
	margin-top: 18%;
}

.vision {
	margin: 18% 0 0 4%;
}

h1 {
	padding: 1%;
}

}

@media (min-width: 806px) {

.mainNav li {
	padding: 1%;
}

.intro {
	width: 75%;
	margin: 19% auto 4%;
}

.intro h2 {
	width: 85%;
}

.benefitsList {
	clear: left;
} 

.benefitsList li {
	padding: 2% 4% 8%;
}

h4 {
	width: 65%;
	margin: 0 auto;
	padding: 2% 2% 2% 3%;
}

.view-testimonials,
.view-ads {
	width: 25%;
	margin: 6% auto;
	padding: 3%;
}

}

@media (min-width: 922px) {

.intro {
	margin: 15% auto 4%;
}

.faq{
	margin-top: 15%;
}

.vision {
	margin: 15% 0 0 4%;
}

}

@media (min-width: 1022px) {

.intro {
	margin: 11% auto 4%;
}

.faq{
	margin-top: 11%;
}

.vision {
	margin: 11% 0 0 4%;
}

}

@media (min-width: 1322px) {

.intro {
	margin: 10% auto 4%;
}

.faq{
	margin-top: 10%;
}

.vision {
	margin: 10% 0 0 4%;
}

}