@media (min-width: 315px) {

.intro {
	margin: 35% auto 4%;
}

.faq{
	margin-top: 35%;
}

.vision {
	margin: 35% 0 0 4%;
}

}

@media (min-width: 475px) {

.strategy,
.sr {
	padding: 0;

}

.mainNav li {
	padding: 1.5%;
}

.intro {
	width: 80%;
	margin: 25% auto 4%;
	text-align: left;
}

.imgWrap,
.benefits-img {
	width: 40%;
} 

.textWrap,
.network-layout {
	width: 75%;
	margin: 10% auto;
	text-align: left;

}

.benefits {
	text-align: left;
}

.benefitsList li {
	padding: 3% 4% 15%;
}

.benefits a {
	padding: 1.5% 1.5% 2%;
}

.interestForm {
	width: 65%;
}

#submitButton {
	padding: 5% 5% 10%;
	font-size: 1.125em;
}

.faq{
	margin-top: 29%;
}

.vision {
	margin: 25% 0 0 4%;
}

.view-testimonials,
.view-ads {
	width: 45%;
	margin: 6% auto;
	padding: 2%;
}

.nav {
	width: 34%;
	padding: 2%;
}

.video-viewer1,
.video-viewer2 {
	width: 70%;
	margin: 0 auto;
}

.ads {
	width: 45%;
	margin: 1%;
	box-shadow: 0 0 25px #ccc;
	float: left;
}

h4 {
	width: 85%;
	margin: 0 auto;
	padding: 4% 4% 4% 6%;
}

.alignText,
.textWrap {
	width: 95%;
	padding: 2% 2% 2% 6%;
	text-align: left;
}

.projectList {
	width: 95%;
	margin: 0 auto;
	padding: 0;
}

.projectList h4 {
	margin: 2.85% auto;
	padding: 4% 4% 13% 4%;
}

}

@media (min-width: 585px) {

.intro,
.strategy,
.sr,
.benefits,
.projects {
	width: 90%;
	margin: 0 auto;
}

.intro {
	margin: 22% auto 4%;
}

.faq{
	margin-top: 22%;
}

.vision {
	margin: 22% 0 0 4%;
}

.network-layout {
	width: 68%;
	margin: 0;
	padding: 1%;
}

.network-layout,
.imgWrap {
	display: inline-block;
	vertical-align: top;
}

.imgWrap {
	width: 30%;
	padding: 2%;
	margin: 3% 3% 0 3%;
}

.textWrap {
	width: 100%;
	margin: 0 auto;
	padding: 2%;
}

.headingbg {
    padding: 0;
}

}

@media (min-width: 745px) {

.intro {
	margin: 18% auto 4%;
}

.faq{
	margin-top: 18%;
}

.vision {
	margin: 18% 0 0 4%;
}

h1 {
	padding: 1%;
}

}

@media (min-width: 806px) {

.mainNav li {
	padding: 1%;
}

.intro {
	width: 75%;
	margin: 19% auto 4%;
}

.intro h2 {
	width: 85%;
}

.benefitsList {
	clear: left;
	margin-top: 5%;
	padding: 2%;
} 

.benefitsList li {
	width: 49%;
	display: inline-block;
	vertical-align: top;
	margin: 2% 0;
	padding: 5%;
}

.b-list-item p {
	display: none;
}

.benefits a {
	padding: 1% 1% 2%;
	margin: 0 auto;
}

h4 {
	width: 65%;
	margin: 0 auto;
	padding: 2% 2% 2% 3%;
}

.intro,
.strategy,
.sr,
.benefits,
.projects {
	width: 80%;
	margin: 0 auto;
	padding: 5% 2%;
}

.intro {
	margin-top: 12%;
}

.network,
.interest {
	padding: 5% 2%;
}

.alignText {
	width: 90%;
	padding: 2%;
	margin: 0 auto;
}

.alignText1 {
	width: 80%;
	margin: 0 auto 2%;
	padding-top: 2%;

}

.textWrap {
	width: 80%;
	padding: 2%;
	margin: 2% auto;
}

.imgWrap {
	margin: 0;
}

.textWrap p {
	margin: 0 0 5% 0;
}

.left-align {
	text-align: left;
}

.wrapper {
	width: 85%;
	margin: 5% auto 0;
}

.nav {
	width: 28%;
	margin: 0 auto 5%;
	padding: 1.5%;
}

.view-testimonials,
.view-ads {
	width: 25%;
	margin: 4% auto;
	padding: 2%;
}

.networkList {
	margin: 2% 0 10% 2%;
	padding-left: 23%;
}

.faq ol {
	padding-left: 23%;
}

.faq ol li {
	margin: 2% 0;
}

.faq h3 {
	margin: 0;
	padding: 2% 2% 2% 10%;
}

.goalList li {
	padding-left: 10%;
}

.one,
.two,
.three,
.four {
	width: 45%;
	margin: 0;
	display: inline-block;
	vertical-align: top;
}

.projectList h4 {
	margin: 1%;
	padding: 5%;
	text-align: center;
}

.textWrap,
.imgWrap {
	display: inline-block;
	vertical-align: top;
}

.textWrap {
	width: 55%;
}

.imgWrap {
	width: 43%;
}

.benefits-img {
	width: 30%;
	margin: 0 auto;
} 

}

@media (min-width: 922px) {

.intro {
	margin: 15% auto 4%;
}

.faq{
	margin-top: 15%;
}

.faq h3 {
	margin: 1% 0;
	padding: 1% 1% 1% 8%;
}

.vision {
	margin: 15% 0 0 4%;
}

.intro,
.strategy,
.sr,
.benefits,
.projects {
	width: 60%;
	padding: 3% 1%;
}

.alignText,
.wrapper,
.interestForm {
	width: 60%;
}

.interest .alignText1 {
	width: 60%;
}

.interestForm {
	width: 40%;
}

.interestForm input {
    height: 40px;
    margin: 2% 0;
    padding: 1%;

}

#submitButton {
	padding: 2.5% 2.5% 6.5%;
	font-size: 1.125em;
}

.imgWrap {
	width: 30%;
}

.vision h1 {
	margin: 0;
}

.goalList {
	margin: 5% 0;
	padding-left: 13%;
}

footer {
	padding: 2%;
}

.credit {
    max-width: 55px;
    margin: 2%;
}

.view-testimonials,
.view-ads {
	width: 20%;
	margin: 2% auto;
	padding: 1%;
}

}

@media (min-width: 1022px) {

.intro {
	margin: 11% auto 4%;
}

.faq{
	margin-top: 11%;
}

.vision {
	margin: 11% 0 0 4%;
}

}

@media (min-width: 1322px) {

.intro {
	margin: 10% auto 4%;
}

.faq{
	margin-top: 10%;
}

.vision {
	margin: 10% 0 0 4%;
}

}