@font-face {
    font-family: "Wolf in the City Light";
    src: url("fonts/Wolf in the City Light.ttf");
}

@font-face {
    font-family: "Wolf in the City";
    src: url("fonts/Wolf in the City.ttf");
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams.ttf");
}

/*************************
General Styling
*************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0;
	font-family: "CaviarDreams", "calibri";
	font-size: 1em;
	line-height: 1.5;
	background: url(../images/bg.svg);
}

a {
    text-decoration: none;
    color: #A4DADD;
}

a:hover {
	color: #249FDD;
}

h1 {
	font-family: "Wolf in the City";
	font-size: 5em;
	color: #595657;
	line-height: .8;
	text-align: center;
	padding: 2%;
}

h4 {
	border-bottom: 1px solid #ccc;
	width: 95%;
}

.strategy,
.sr,
.benefits {
	width: 95%;
	margin: 0 auto;
	padding: 2%;
	text-align: left;
}

.headingbg {
	width: 100%;
    padding: 2%;
    background-color: #A4DADD;
    text-align: center;
    line-height: .8;
}

.imgWrap {
	width: 80%;
	margin: 12% auto;
}

.imgWrap img {
	width:100%;
	height: auto;
}

.network,
.interest {
	background-color: #A4DADD;
	padding-bottom: 12%;
}



/*************************
PAGE: Strategy

Header Styling

*************************/

.main-header {
	width: 100%;
	height: auto;
	padding: 10px 0;
	display: block;
	background-color: #A4DADD;
}

.logo {
	width: 100%;
	height: auto;
	display: block;
	vertical-align: top;
}

.logo img {
    width: 100%;
    height: auto;
}

.mainNav {
	height: auto;
    display: block;
	list-style: none;
}



.mainNav li {
	width: 25%;
	padding: 2.5%;
	float: left;
	text-align: center;
	background-color: rgba(89, 86, 87, .2);
}

.mainNav li a {
	color: #363A3A;
	display: block;
	height: 100%;
	font-size: 1.02em;
}

.mainNav li:hover {
	background-color: rgba(89, 86, 87, 1);
}

.mainNav li a:hover {
	color: #fff;
}

.slogan {
	text-align: center;
}


/*************************
Intro
*************************/

.intro {
	width: 95%;
	margin: 21% auto 4%;
	padding: 2%;
	text-align: left;
}


/*************************
Strategy
*************************/






/*************************
Member Benefits
*************************/


.benefitsList {
	list-style: none;
}

.benefitsList li {
	margin: 12% 0;
	background-color: #52CCCC;
	padding: 10% 6% 25%;
}

.benefitsList li h3 {
	border-bottom: 1px solid #333;
	width: 95%;
	margin-bottom: 5%;
}

.benefits a {
	display: inline-block;
	background-color: #F48F16;
	padding: 3%;
	color: white;
	float: right;
	margin: 8% 0 0 0;
}

.benefits a:hover {
	box-shadow: 0 0 4px #999;
}


/*************************
Network
*************************/



.alignText {
	width: 95%;
	padding: 4%;
	text-align: left;
}



/*************************
Projects
*************************/

.projects {
	padding: 2%;
}


.projectList {
	list-style: none;
	text-align: left;
}

.projectList h4 {
	margin: 2.85%;
	padding: 5% 5% 15% 5%;
	color: #fff;
}

.one::before {
	content: url(../images/one.svg);
    vertical-align: center;
}

.two::before {
	content: url(../images/two.svg);

}

.three::before {
	content: url(../images/three.svg);

}

.four::before {
	content: url(../images/four.svg);

}

.one {
	background-color: #28BFBF;
}

.two {
	background-color: #109999;
}

.three {
	background-color: #28BFBF;
}

.four {
	background-color: #F7C011;
}


/*************************
Interest
*************************/

.interest img {
	display: block;
	margin: 0 auto;
}

.interest p {
	text-align: center;
}

.email {
	display: block;
	margin: 5% 0;
	font-size: 150%;
	color: #595657;
	text-align: center;
}

.interestForm {
	width: 90%;
	margin: 5% auto;
}

.interestForm input {
    width: 100%;
    height: 35px;
    margin: 5% 0;
    padding: 2%;
    border: none;

}

#submitButton {
	padding: 5%;
	background-color: #F7C011;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 0 0 5px #ccc;
}


/*************************
PAGE: Vision
*************************/


.vision {
	margin: 21% 0 0 4%;
}

.vision h1 {
	margin: 10% 0 5% 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.contentWrapper {
	width: 90%;
	margin: 0 auto;
}

.goalList,
.end {
	margin-bottom: 12%;
}

.goalList li {
    margin-top: 5%;
	padding-left: 5%;
}



/*************************
PAGE: FAQ
*************************/

.faq{
	margin-top: 21%;
}

.faq h3 {
	background-color: #A4DADD;
	width: 100%;
	padding: 2%;
	font-size: 1.125em;
}

.faq ol {
	padding-left: 10%;
}

/**The Iframes**/
.ads {
	width: 100%;
	margin: 3% auto;
	box-shadow: 0 0 25px #ccc;
}

.video-viewer1,
.video-viewer2 {
	display: none;
}

.view-testimonials,
.view-ads {
	width: 95%;
	margin: 12% auto;
	padding: 5%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #23B5B5;

}

.view-testimonials:hover,
.view-ads:hover {
	color: #333;
	background-color: #23B5B5;
	cursor: pointer;
}


/*********************
footer

**********************/

footer {
	padding: 5%;
	background-color: #226D6D;
	text-align: center;
}

.credit {
    display: inline-block;
    max-width: 45px;
    margin: 5% 2%;
    height: auto;
}



footer img {
	width: 100%;
	height: auto;
}


/*********************
general style classes

**********************/

.show {
	display: block;
}

span p {
	display: inline;
}

.alignText1 {
	width: 95%;
	margin: 0 auto 2%;
	padding-top: 12%;

}




/**********for big screens
.ads {
	width: 30%;
}

***********/