@font-face {
    font-family: "Wolf in the City Light";
    src: url("fonts/Wolf in the City Light.ttf");
}

@font-face {
    font-family: "Wolf in the City";
    src: url("fonts/Wolf in the City.ttf");
}


/*************************
General Styling
*************************/

* {

    box-sizing: border-box;
}

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Maven Pro', sans-serif;
	font-size: .95em;
	line-height: 1.5;
	background: url(../images/bg.svg);
}

a {
    text-decoration: none;
    color: #A4DADD;
}

a:hover {
	color: #249FDD;
}

h1 {
	font-family: "Wolf in the City";
	margin: 0;
	font-size: 5em;
	color: #595657;
	line-height: .8;
	text-align: center;
	padding: 2%;
}

h4 {
	margin: 0 0 0 8%;
	border-bottom: 1px solid #ccc;
	width: 80%;
}

.strategy,
.sr,
.benefits {
	width: 95%;
	margin: 0 auto;
	padding: 2%;
	text-align: center;
}

.headingbg {
	width: 100%;
    padding: 2%;
    background-color: #A4DADD;
    text-align: center;
    line-height: .8;
}

.imgWrap,
.benefits-img {
	width: 80%;
	margin: 12% auto;
}

.imgWrap img,
.benefits-img img {
	width:100%;
	height: auto;
}

.network,
.interest {
	background-color: #A4DADD;
	padding: 10% 5%;
}



/*************************
PAGE: Strategy

Header Styling

*************************/

.main-header {
	width: 100%;
	height: auto;
	padding: 10px 0 0 0;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #3AAAAA;
}

.main-header::after {
	content: "";
	display: table;
	clear: both;
}

.logo {
	display: block;
	max-width: 350px;
	width: 100%;
	margin: 0 auto;
	height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.mainNav {
	width: 100%;
	margin: 0;
	padding: 0;
	height: auto;
	list-style: none;
	float: left;
	clear: left;
	background-color: #21B7B3;
}



.mainNav li {
	width: 33.3%;
	padding: 2.5%;
	float: left;
	text-align: center;
}

.mainNav li a {
	color: #363A3A;
	display: block;
	font-size: 1.02em;
}

.mainNav li:hover {
	background-color: #F7C011;
}

.mainNav li a:hover {
	color: #fff;
}

.slogan {
	text-align: center;
}


/*************************
Intro
*************************/

.intro {
	width: 95%;
	margin: 43.5% auto 4%;
	padding: 2%;
	text-align: center;
}

.intro h2 {
	border-bottom: 1px solid #ccc;
}


/*************************
Strategy
*************************/






/*************************
Member Benefits
*************************/


.benefitsList {
	list-style: none;
	margin: 0;
	padding: 0;
}

.benefitsList li {
	margin: 12% 0;
	background-color: #52CCCC;
	padding: 5% 5% 21%;
}

.benefitsList li h3 {
	border-bottom: 1px solid #fff;
	width: 95%;
	margin-bottom: 5%;
}

.benefits a {
	display: inline-block;
	background-color: #F7C011;
	padding: 2% 2% 4%;
	color: white;
	float: right;
	margin: 3% 0 0 0;
	border-radius: 5px;
}

.benefits a:hover {
	box-shadow: 0 0 4px #999;
	background-color: #F4A019;
}


/*************************
Network
*************************/



.alignText,
.textWrap {
	width: 95%;
	margin: 2% auto;
	padding: 4% 4% 4% 6%;
	text-align: left;
}

.network-layout {
	text-align: center;
}



/*************************
Projects
*************************/

.projects {
	padding: 2%;
}

.projectList {
    width: 98%;
    margin: 0 auto;
}

.projectList h4 {
	margin: 2% auto;
	padding: 8%;
	color: #fff;
}

/****

.one::before {
	content: url(../images/one.svg);
    vertical-align: center;
}

.two::before {
	content: url(../images/two.svg);

}

.three::before {
	content: url(../images/three.svg);

}

.four::before {
	content: url(../images/four.svg);

}

***/

.one {
	background-color: #28BFBF;
}

.two {
	background-color: #109999;
}

.three {
	background-color: #28BFBF;
}

.four {
	background-color: #F7C011;
}


/*************************
Interest
*************************/

.interest img {
	display: block;
	margin: 0 auto;
}

.email {
	display: block;
	margin: 5% 0;
	font-size: 150%;
	color: #595657;
	text-align: center;
}

.interestForm {
	width: 90%;
	margin: 5% auto;
}

.interestForm input {
    width: 100%;
    height: 35px;
    margin: 5% 0;
    padding: 2%;
    border: none;
    border-radius: 5px;

}

#submitButton {
	display: block;
	padding: 5%;
	background-color: #F7C011;
	color: #fff;
	text-transform: uppercase;
}

#submitButton:hover {
	background-color: #F4A019;
	cursor: pointer;
}


/*************************
PAGE: Vision
*************************/


.vision {
	margin: 43.5% 0 0 4%;
}

.vision h1 {
	margin: 10% 0 5% 0;
	border-bottom: 1px solid #ccc;
	text-align: left;
}

.contentWrapper {
	width: 90%;
	margin: 0 auto;
}

.goalList li {
    margin-top: 5%;
	padding-left: 5%;
}



/*************************
PAGE: FAQ
*************************/

.faq{
	margin-top: 43.5%;
}


.faq h3 {
	margin: 0;
	background-color: #A4DADD;
	width: 100%;
	padding: 2%;
	font-size: 1.125em;
}

.faq ol {
	padding-left: 15%;
	list-style-type: lower-alpha;
}

.faq ol li {
	margin: 6% 0;
	font-weight: bold;
}

/**The Iframes**/
.ads {
	width: 100%;
	margin: 3% auto;
	box-shadow: 0 0 25px #ccc;
}

.video-viewer1,
.video-viewer2 {
	display: none;
}

.view-testimonials,
.view-ads {
	width: 95%;
	margin: 12% auto;
	padding: 5%;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background-color: #23B5B5;

}

.view-testimonials:hover,
.view-ads:hover {
	color: #333;
	background-color: #23B5B5;
	cursor: pointer;
}



.nav {
	display: block;
	width: 70%;
	margin: 0 auto 10%;
	padding: 5%;
	text-align: center;
	text-transform: uppercase;
}

.nav:hover {
	box-shadow: 0 0 5px #ccc;
	color: #fff;
	background-color: #F4A019;
}

/*********************
footer

**********************/

footer {
	padding: 5%;
	background-color: #226D6D;
	text-align: center;
}

.credit {
    display: inline-block;
    max-width: 45px;
    margin: 5% 2%;
    height: auto;
}



footer img {
	width: 100%;
	height: auto;
}


/*********************
general style classes

**********************/

.show {
	display: block;
}

span p {
	display: inline;
}

.alignText1 {
	width: 95%;
	margin: 0 auto 2%;
	padding-top: 12%;

}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.center {
	text-align: center;
}

/**********for big screens
.ads {
	width: 30%;
}

***********/