@font-face {
    font-family: "Wolf in the City Light";
    src: url("fonts/Wolf in the City Light.ttf");
}

@font-face {
    font-family: "Wolf in the City";
    src: url("fonts/Wolf in the City.ttf");
}

@font-face {
    font-family: "CaviarDreams";
    src: url("fonts/CaviarDreams.ttf");
}

/*************************
General Styling
*************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	max-width: 1020px;
	margin: 0 auto;
	padding: 0;
	font-family: "CaviarDreams", "calibri";
	font-size: 1em;
	line-height: 1.5;
}

a {
    text-decoration: none;
    color: #A4DADD;
}

a:hover {
	color: #249FDD;
}

h1 {
	font-family: "Wolf in the City";
	font-size: 5em;
	color: #595657;
	line-height: .8;
	text-align: center;
	padding: 2%;
}

.strategy,
.sr,
.benefits {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.headingbg {
	width: 100%;
    padding: 2%;
    background-color: #A4DADD;
    text-align: center;
    line-height: .8;
}

.imgWrap {
	width: 80%;
	margin: 12% auto;
}

.imgWrap img {
	width:100%;
	height: auto;
}

.network,
.interest {
	background-color: #A4DADD;
	padding-bottom: 12%;
}



/*************************
PAGE: Strategy

Header Styling

*************************/

.main-header {
	width: 100%;
	height: auto;
	padding: 10px 0;
	display: block;
	background-color: #A4DADD;
}

.logo {
	width: 100%;
	height: auto;
	display: block;
	vertical-align: top;
}

.logo img {
    width: 100%;
    height: auto;
}

.mainNav {
	height: auto;
    display: block;
	list-style: none;
}

.mainNav li {
	width: 33.3%;
	padding: 2.5%;
	float: left;
	text-align: center;
	text-transform: uppercase;
	background-color: rgba(89, 86, 87, .5);
}

.mainNav li:hover {
	background-color: rgba(89, 86, 87, 1);
}

.slogan {
	text-align: center;
}


/*************************
Intro
*************************/

.intro {
	width: 80%;
	margin: 4% auto;
	padding: 2%;
	text-align: center;
}


/*************************
Strategy
*************************/






/*************************
Member Benefits
*************************/


.benefitsList {
	list-style: none;
}

.benefitsList li {
	margin: 12% 0;
}


/*************************
Network
*************************/



.alignText {
	width: 80%;
	margin: 0 auto 5%;
	padding-top: 12%;
	text-align: center;
}



/*************************
Projects
*************************/

.projects {
	padding: 10% 2%;
}


.projectList {
	list-style: none;
	text-align: left;
}

.projectList li {
	margin-left: 4%;
}

.one::before {
	content: url(../images/one.svg);
	display: inline-block;
	width: 50px;

}

.two::before {
	content: url(../images/two.svg);
	display: inline-block;
	width: 50px;

}

.three::before {
	content: url(../images/three.svg);
	display: inline-block;
	width: 50px;

}

.four::before {
	content: url(../images/four.svg);
	display: inline-block;
	width: 50px;

}


/*************************
Interest
*************************/

.interest img {
	display: block;
	margin: 0 auto;
}

.email {
	display: block;
	margin: 5% 0;
	font-size: 150%;
	color: #595657;
	text-align: center;
}

.interestForm {
	width: 80%;
	margin: 5% auto;
}

.interestForm label,
.interestForm input {
    width: 100%;
}

.interestForm input {
	height: 30px;
}


/*************************
PAGE: Vision
*************************/























